* {
    box-sizing: border-box;
}

html {
	font-family: times; 
	font-size: 12px;
	margin: 0
}

/*container area*/
#container {
	width: 1310px;
	margin: 0 auto;
	background-color: #fff
}

/*header includes logo*/
#header {
	width: 100%;
	height: 93px;
	border-bottom: 1px solid #c7c7c7;
	background-color: #666
}

#logo {
	float: left;
	width: 71px;
	height: 53px;
	background-color: white

}

/*top_info inlcudes welcome quote, search bar*/

#top_info {
	float: center;
	width: 40px;
	height: 10px;
	/*border: 1px solid #c7c7c7;*/
	background-color: #666;
	/*margin: 10px;*/
	text-align: center;
}

/*#searchbox{
	float: left;
	margin-top: 35px;
	margin-left: 50px;
	text-align: center;
}*/

#searchform{
	margin-top: 10px;
  padding-top: 30px;
}

#header {
	background-color: #e2e1d5;
	margin: 0px;
}

#menu{
	margin: 0px;
	float: left;
	/*margin-right: 50px auto;*/
}

ul#menu li {
    display:inline;
}

form {
    width:900px;
    height:400px;
    margin:20px;
}

#stext1 {
    font-size: 25px;
    /*padding:8px 15px;*/
    border: 0px;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 20px;
    width: 430px;
    float: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px;
    font-weight: bold;
}   

#stext2 {
    padding:8px 15px;
    background:lightgrey;
    border:0px solid #dbdbdb;
    margin-left: 10px;
}

#sbutton {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

#sbutton:hover  {
    background-color:#fafafa;
    color:#207cca;
} 

#navbar {
  height: 20px;
  clear: both

}

/*help, contact us, about*/
#menu {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

#menu li {
    float: left;
    /*vertical-align: auto;
    text-align: left;
}*/
}

#menu li a {
    display: block;
    color: #020560;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Courier;
    font-weight: bold;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #9ec3ff;
    border:10px;

}

#selected_item{
  background-color: #D8D3D3; 
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#left_col {
	float: left;
	width: 50%;
	height: 500px;
	border: 0px solid #333;
	color: #000;
	background-color: #e2e1d5;
	padding: 20px
}

#right_col {
	float: right;
	width: 50%;
	height: 500px;
	border: 0px solid #333;
	color:#000;
	background-color:#e2e1d5;
	padding: 20px
}

#footer {
	padding: 20px;
	clear: both;
  text-align: center
}

/*category dropdown list*/

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: #207cca;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

#signin{
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

#signinbtn{
  margin-right: 5px;
}


#signupform {
  background:white;
  width: 500px;
  height: 800px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 5px;
  margin-top: 40px;
}

#signupform header {
  background: #207cca;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 40px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
#signupform label {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
  position: relative;
  margin-left: 20px;
}

#signupform label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
#signupform input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}


#signupform .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
#signupform button {
  /*position: relative;*/
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#signupform button:hover {
  background: #ff5252;
}

#name1, #name2{
  margin-left: 5px;
}

#email1, #city1{
  margin-left: -30px;
}

#repass{
  margin-left: 50px;
}

#signupdiv{
  margin-top: 150px;
}

#logo2{
  margin: 100px;
}